PRV_KEY="-----BEGIN PRIVATE KEY-----\nMIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEAzxar+ygp6y0hj4tD\ncSvB5zPTqry3U9TCOMfR0rC/yOot6MKzxUQ5Q1lcTEWm007Eh7qtmP0wYHmWh7Fp\ndUqxpwIDAQABAkEArBVf5j3Sz41aNQj5iwJch75GZruY7719g2dwUU70n4ORPuxz\nUGPlP0Ry025+/ZNEEgUyEEzh9h6Tf9+qYEP5aQIhAPyvY/ZrxY2f6fi/32tvqHaS\nziHKPkN6LbrJ8zWRuC2zAiEA0c4mvPNlwg0NwzW/jxrtYwFodVmA+PdsZ1fL2kOd\n+j0CIQDbPtNdXOVsnPRGATW54ogpWffBGdoscjZ7e/6q3GUSQQIgSnqVU+RPzlhV\n92OAMiwL82aPj4ELgNZMvE71hfEVBr0CIDFTqgfaMQOma7+Knbv1yWfDoIZj3tWh\ne85L3C/xhY96\n-----END PRIVATE KEY-----\n"
PUB_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAM8Wq/soKestIY+LQ3Erwecz06q8t1PU\nwjjH0dKwv8jqLejCs8VEOUNZXExFptNOxIe6rZj9MGB5loexaXVKsacCAwEAAQ==\n-----END PUBLIC KEY-----\n"

PUBLIC_DIR="public"
PRJ_DIR="./"
FILE_SIZE=1024

EXP_TIME=2592000

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_DB="0"
MONGO_URI="mongodb://127.0.0.1:27017/mental_health"
MONGO_DB="mental_health"